@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "baloo 2";
}



/*======================================================
                  NAVIGATION BAR SECTION 
 ======================================================*/
nav {
     display: flex;
     align-items: center;
     justify-content: space-between;
     height: 100px;
     width: 100%;
     background: #fff;
     padding:  0 100px;
     position: fixed;
     z-index: 100;
     border-bottom: 1px solid #ccc;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
nav .imbs_logo img{
     width: 150px;
}
nav ul{
     display: flex;
     flex-wrap: wrap;
     list-style: none;
}
nav ul li{
     margin: 0 5px;
}
nav ul li a{
     color: #333;
     text-decoration: none;
     font-size: 20px;
     font-weight: 600;
     padding: 8px 15px;
     transition: all 0.3s ease;
     text-transform: capitalize;
}
nav ul li a.active,
nav ul li a:hover{
     color: #c84231;
}
nav .menu_btn i{
     color: #333;
     font-size: 22px;
     cursor: pointer;
     display: none;
}
nav input[type="checkbox"]{
     display: none;
}




/*======================================================
                  HOME SECTION 
 ======================================================*/
.container .background {
   background: linear-gradient(to left, rgba(0,0,0,0.5),rgb(0,0,0,0.5)), url(../image/Background1.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}
.container .content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   width: 600px;
   color: #fff;
}
.container .content .title {
   font-size: 50px;
   font-weight: 900;
}
.container .content .sub_title {
   font-size: 20px;
   font-weight: 600;
   margin-bottom: 50px;
}
.container .content a {
   text-decoration: none;
   background: #c84231;
   padding: 5px 50px;
   color: #fff;
   border: none;
   outline: none;
   font-size: 20px;
   border-radius: 50px;
   font-weight: 600;
}




/*======================================================
                  FORM SECTION 
 ======================================================*/
.form_container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background-color: #E2DAF0;
   padding: 20px;
}
.form_container .form {
   max-width: 950px;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fff;
   border-radius: 10px;
   box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
   position: relative;
}
.form_container .form .close_btn a {
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 25px;
   color: #333;
   cursor: pointer;
}
.form_container .form .section1 {
   width: 450px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 50px;
   padding: 100px 50px;
}
.form_container .form .section1 .title {
   text-align: center;
   line-height: 1.2;
   color: #6A2F78;
}
.form_container .form .section1 .title .title1{
   font-size: 40px; 
   text-transform: uppercase;
   font-weight: 800;
}
.form_container .form .section1 .form_logo img {
   width: 200px;
   margin: 10px 0;
}
.form_container .form .section1 .title .title3{
   font-size: 25px; 
   text-transform: capitalize;
   font-weight: 600;
}
.form_container .form .section1 .image img {
   width: 350px;
}
.form_container .form .section2 {
   width: 550px;
   height: 100%;
   padding: 50px;
}
.form_container .form .section2.login {
   padding: 150px 50px;
}
.form_container .section2 h2 {
   font-size: 30px;
   margin-bottom: 10px;
   color: #6A2F78;
}
.form_container .section2 .input_box {
   width: 100%;
}
.form_container .section2 .box2 {
   display: flex;
   gap: 20px;
}
.form_container .section2 .input_box label {
   font-size: 15px;
   color: #6A2F78;
   font-weight: 600;
}
.form_container .section2 .input_box input {
   width: 100%;
   margin-bottom: 10px;
   border: 2px solid rgba(0, 0, 0, 0.4);
   border-radius: 5px;
   padding: 10px;
   outline: none;
   font-size: 15px;
}
.form_container .section2 button {
   width: 100%;
   height: 40px;
   margin-top: 25px;
   background: #6A2F78;
   color: #fff;
   border: none;
   outline: none;
   border-radius: 5px;
   font-size: 20px;
   cursor: pointer;
}
.form_container .section2 .buttom_link  {
   font-size: 15px;
   font-weight: 600;
   color: #505050;
   margin-top: 10px;
}
.form_container .section2 .buttom_link a {
   text-decoration: none;
   color: #6A2F78;
}






:root{
   --purple-700: #5a2b60;
   --bg-lilac: #eadff1;
   --sidebar-bg: #efefef;
   --card-border: #6e2d6e;
   --shadow: 0 8px 18px rgba(0,0,0,0.06);
   --font: "Poppins", sans-serif;
   }
body{
   font-family:var(--font);
   background:var(--bg-lilac);
   color:#222;
   height:100vh;
   overflow:hidden;
}
.topbar{
   position:fixed;
   top:0;
   left:0;
   right:0;
   height:65px;
   background:var(--purple-700);
   color:#fff;
   display:flex;
   align-items:center;
   justify-content:space-between;
   padding:0 20px;
   z-index:1000;
   box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.topbar .brand{
   font-size:25px;
   font-weight:800;
}
.logout-btn {
   text-decoration: none;
}
.logout-btn{
   background:#fff;
   color:var(--purple-700);
   border:none;
   padding:8px 14px;
   border-radius:6px;
   font-weight:600;
   cursor:pointer;
}
.sidebar{
   position:fixed;
   top:64px;
   left:0;
   bottom:0;
   width:240px;
   background:var(--sidebar-bg);
   padding:20px 15px;
   display:flex;
   flex-direction:column;
   overflow-y:auto;
   box-shadow:2px 0 10px rgba(0,0,0,0.1);
}
a.nav-item {
   color: #222;
   text-decoration: none;
}
.nav-item{
   display:flex;
   align-items:center;
   gap:10px;
   padding:10px 12px;
   margin-bottom:8px;
   border-radius:8px;
   cursor:pointer;
   font-weight:600;
   color:#333;
   transition:0.2s;
}
.nav-item:hover,
.nav-item.active{
   background:#ddd;
}

.nav-item i{
   font-size:18px;
   width:25px;
   text-align:center;
}

.sidebar .bottom-profile{
   margin-top:auto;
   display:flex;
   align-items:center;
   gap:10px;
   background:#e6e6e6;
   padding:10px;
   border-radius:10px;
   font-weight:700;
}
.sidebar .bottom-profile i{
   background:white;
   padding:8px;
   border-radius:50%;
   box-shadow:var(--shadow);
}
.main{
   margin-left:240px;
   margin-top:64px;
   height:calc(100vh - 64px);
   overflow-y:auto;
   padding:30px 50px;
   background:var(--bg-lilac);
}
.welcome-row{
   display:flex;
   justify-content:space-between;
   align-items:center;
   margin-bottom:30px;
}
.welcome-row h2{
   font-size:20px;
   color:#444;
}
.admin-area{
   display:flex;
   align-items:center;
   gap:10px;
   font-weight:700;
}
.admin-area i{
   border:2px solid var(--purple-700);
   border-radius:50%;
   padding:10px;
}
.card-grid{
   display:grid;
   grid-template-columns:repeat(2, 1fr);
   gap:20px;
}
.big-card {
   background:#fff;
   border:3px solid var(--card-border);
   border-radius:15px;
   padding:25px;
   display:flex;
   align-items:center;
   justify-content: center;
   flex-direction: column;
   gap:15px;
   font-weight:700;
   box-shadow:var(--shadow);
   transition:transform 0.2s;
   cursor:pointer;
   font-size: 20px;
   color: #333;
}
a.big-card {
   color: #222;
   text-decoration: none;
}
.big-card:hover{
   transform:translateY(-5px);
}
.big-card i{
   font-size:28px;
}
.table {
   font-size: 18px;
}
.dash-button {
   flex-direction: column;
   background: #5a2b60;
   color: #fff;
   border: none;
   font-size: 20px;
}
.book-management-dashboard h2 {
   font-weight: 600;
   margin-bottom: 30px;
}
#bookListContainer h3 {
   margin: 20px 0 15px  0;
}
.modal {
  display: none; 
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}
.modal-content {
  background-color: #fefefe;
  margin: 120px auto; 
  padding: 25px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  position: relative;
}
.close-btn {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
}
.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal form {
   display: flex;
   flex-direction: column;
}
.modal form label {
    font-weight: bold;
}
.modal form input,
.modal form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.modal form button {
    background-color: #5a2b60;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
}
.quickBtn {
   font-size: 15px;
   padding: 2px 10px;
   border: none;
   border-radius: 5px;
   margin: 0 5px;
   background: #6A2F78;
   color: #fff;
   font-weight: 600;
}
.quickBtn:last-child {
   background: red;
}





.form_container.issue {
   height: 100%;
   display: flex;
   align-items: start;
   justify-content: left;
}
.form_container .issue_books {
   width: 700px;
}
.form_container .issue_books form h2{
   color: #222;
   font-weight: 600;
}
.form_container .issue_books form .input_box label{
   font-size: 15px;
   color: #222;
   font-weight: 600;
}
.form_container .issue_books .flex {
   display: flex;
   gap: 20px;
}







@media (max-width: 1100px) {
   .form_container .form {
      width: 100%;
   }
   .form_container {
      padding: 20px;
   }
}
@media (max-width: 900px) {
   .form_container .form {
    height: auto;
}
   .form_container .form .section2 .box2 {
      display: block;
      gap: 20px;
}
}

@media (max-width: 820px) {
   nav .menu_btn i{
      display: block;
   }
   #click:checked ~ .menu_btn i:before{
      content: "\f00d";
   }
   nav ul{
      position: absolute;
      top: 100px;
      left: -100%;
      background: #fff;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
   }
   #click:checked ~ ul{
      left: 0;
   }
   nav ul li{
      width: 100%;
      margin: 40px 0;
   }
   nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   }
   #click:checked ~ ul li a{
      margin-left: 0px;
   }
   nav ul li a.active,
   nav ul li a:hover{
      background: none;
      color: #5cb85c;
   }
   nav {
      padding: 0 50px;
   }
   .container .content {
      width: 500px;
   }
   .container .content .title {
      font-size: 40px;
   }
}



